In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier, StackingClassifier
import xgboost as xgb
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score
from sklearn.metrics import plot_roc_curve
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

### deal with some left over from preprocessing

In [3]:
df = pd.read_csv('step2_data/combined.csv', index_col=0)

C:\Users\Alan\AppData\Local\Temp\ipykernel_43868\4094612143.py:1: DtypeWarning: Columns (21,47,51,53,54) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('step2_data/combined.csv', index_col=0)

In [5]:
df = df[df['RestaurantsPriceRange2'] != 'None']
df['RestaurantsPriceRange2'] = df['RestaurantsPriceRange2'].astype(float)
df = df.dropna(subset='RestaurantsPriceRange2')
df['RestaurantsPriceRange2'] = df['RestaurantsPriceRange2'].astype(int)

In [6]:
# AcceptsInsurance, Open24Hours RestaurantsCounterService, has no useful value
# DietaryRestrictions have only 5 records
df.drop(columns=['AcceptsInsurance', 'Open24Hours', 'DietaryRestrictions', 'RestaurantsCounterService'], inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7002 entries, 0 to 13049
Columns: 677 entries, business_id to Yoga
dtypes: float64(10), int32(1), int64(630), object(36)
memory usage: 36.2+ MB

In [8]:
for i in df.columns:
    if df[i].dtype == object:
        print(i)

business_id
name
city
RestaurantsDelivery
OutdoorSeating
BusinessAcceptsCreditCards
BusinessParking
BikeParking
RestaurantsTakeOut
ByAppointmentOnly
WiFi
Alcohol
Caters
RestaurantsReservations
RestaurantsGoodForGroups
RestaurantsAttire
HasTV
Ambience
GoodForKids
GoodForMeal
NoiseLevel
DogsAllowed
HappyHour
WheelchairAccessible
RestaurantsTableService
Smoking
Music
GoodForDancing
BusinessAcceptsBitcoin
CoatCheck
BestNights
Corkage
BYOBCorkage
BYOB
DriveThru
AgesAllowed

In [9]:
for c in df.columns:
    print(df[c].value_counts())

MTSW4McQd7CbVtyjqoe9mw    1
zujdPV3HT-Y-CKE1GgkMHQ    1
MKsCFQuzmgH2We9hwTQ8gw    1
lqj-4ZoMcNSNgaNfyn4FMg    1
E_TWqkEwtzwhrRtyDIU2nw    1
                         ..
A9bqf3aoiQXX9WBswewivg    1
3FKIev7ZB_KE6XHL9sUJCg    1
_8yGCHO9xX7J6bWRB3oNwA    1
X1KTKksxwFTg_t21iWPMMA    1
8n93L-ilMAsvwUatarykSg    1
Name: business_id, Length: 7002, dtype: int64
McDonald's                45
PrimoHoagies              28
Chipotle Mexican Grill    27
Domino's Pizza            27
Pizza Hut                 24
                          ..
Philadium Tavern           1
Red King's BBQ             1
Easton Buffet              1
Roast+Chop                 1
Tata Cafe                  1
Name: name, Length: 5919, dtype: int64
Philadelphia       3338
West Chester        158
Doylestown           90
Phoenixville         89
Wayne                88
                   ...
Wrightstown           1
Philadephia           1
Eddystone             1
Bethel Township       1
UPPER MORELAND        1
Name: city, Length: 239, dtype: int64
19107.0    412
19147.0    371
19103.0    326
19104.0    259
19106.0    188
          ...
18924.0      1
18925.0      1
19375.0      1
19022.0      1
19421.0      1
Name: postal_code, Length: 213, dtype: int64
39.940460    4
40.076308    4
39.953159    4
39.967199    3
40.062998    3
            ..
39.973162    1
40.139492    1
40.236663    1
39.955232    1
39.951018    1
Name: latitude, Length: 6782, dtype: int64
-75.303379    4
-75.159098    4
-75.038252    4
-75.137892    4
-75.156109    4
             ..
-75.182012    1
-75.113170    1
-75.245178    1
-75.155813    1
-75.198240    1
Name: longitude, Length: 6723, dtype: int64
1    4486
0    2516
Name: is_open, dtype: int64
11      264
12      254
13      222
14      216
15      199
       ...
1130      1
286       1
270       1
486       1
218       1
Name: count, Length: 388, dtype: int64
3.000000    177
4.000000     90
3.666667     67
5.000000     61
4.333333     48
           ...
4.569231      1
4.107143      1
3.776471      1
4.632184      1
3.871795      1
Name: stars, Length: 2525, dtype: int64
0.238894    1
0.336355    1
0.241329    1
0.003695    1
0.212040    1
           ..
0.145698    1
0.304721    1
0.297726    1
0.203089    1
0.176213    1
Name: sentiment_polarity, Length: 7002, dtype: int64
0.552824    1
0.578496    1
0.529290    1
0.499146    1
0.539163    1
           ..
0.624453    1
0.597030    1
0.554981    1
0.555785    1
0.525981    1
Name: sentiment_subjectivity, Length: 7002, dtype: int64
1.000000    214
1.333333    166
1.200000    148
1.250000    141
1.100000    118
           ...
1.909091      1
2.031250      1
2.434783      1
3.211538      1
1.957447      1
Name: reviews_per_week, Length: 1304, dtype: int64
2008    862
2009    788
2010    747
2011    658
2007    625
2012    625
2013    557
2015    481
2014    463
2016    427
2017    347
2006    215
2018    155
2005     52
Name: oldest_review_year, dtype: int64
0.000000    78
1.154701    24
1.788854    19
1.552500    18
1.632993    17
            ..
1.157784     1
1.654830     1
1.315965     1
1.571438     1
1.249762     1
Name: std_of_stars, Length: 4915, dtype: int64
5.0    3556
3.0    2346
1.0     876
4.0     140
2.0      84
Name: med_of_stars, dtype: int64
True     4252
False    2292
None      309
Name: RestaurantsDelivery, dtype: int64
False    3695
True     2848
None      191
Name: OutdoorSeating, dtype: int64
True     5617
True      942
False     367
False      61
None        1
Name: BusinessAcceptsCreditCards, dtype: int64
{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}        2454
{'garage': False, 'street': False, 'validated': False, 'lot': True, 'valet': False}        2343
{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}        643
{'garage': False, 'street': True, 'validated': False, 'lot': True, 'valet': False}          447
{'garage': True, 'street': True, 'validated': False, 'lot': False, 'valet': False}          161
                                                                                           ...
{'garage': False, 'street': False, 'validated': None, 'lot': None, 'valet': False}            1
{u'valet': False, u'garage': None, u'street': None, u'lot': True, u'validated': False}        1
{'valet': False, 'garage': False, 'street': False, 'lot': False, 'validated': False}          1
{'garage': False, 'street': False, 'validated': None, 'lot': False, 'valet': False}           1
{u'valet': False, u'garage': False, u'street': None, u'lot': False, u'validated': None}       1
Name: BusinessParking, Length: 106, dtype: int64
True     2647
True     2008
False     808
False     607
None        3
Name: BikeParking, dtype: int64
2    4113
1    2479
3     377
4      33
Name: RestaurantsPriceRange2, dtype: int64
True     6558
False     290
None       68
Name: RestaurantsTakeOut, dtype: int64
False    522
True      20
Name: ByAppointmentOnly, dtype: int64
u'free'    2368
u'no'      2332
'no'        782
'free'      757
u'paid'      21
'paid'       14
Name: WiFi, dtype: int64
u'none'             3356
u'full_bar'         1642
'none'               807
'full_bar'           460
u'beer_and_wine'     241
'beer_and_wine'       59
None                   2
Name: Alcohol, dtype: int64
True     2118
True     1540
False    1277
False     984
None        6
Name: Caters, dtype: int64
False    3817
True     2850
None       35
Name: RestaurantsReservations, dtype: int64
True     4041
True     1619
False     731
False     322
None        1
Name: RestaurantsGoodForGroups, dtype: int64
u'casual'    4103
'casual'     2346
u'dressy'      91
'dressy'       57
'formal'        4
u'formal'       3
None            1
Name: RestaurantsAttire, dtype: int64
True     4073
False    1578
True      665
False     283
None        1
Name: HasTV, dtype: int64
{'romantic': False, 'intimate': False, 'touristy': False, 'hipster': False, 'divey': False, 'classy': False, 'trendy': False, 'upscale': False, 'casual': True}         1060
{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': True}          861
{'touristy': False, 'hipster': False, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': False, 'casual': False}         530
{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': False}         492
{'touristy': False, 'hipster': False, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': True, 'casual': True}           456
                                                                                                                                                                        ...
{u'divey': False, u'hipster': False, u'casual': None, u'touristy': False, u'trendy': None, u'intimate': None, u'romantic': None, u'classy': False, u'upscale': None}       1
{'touristy': False, 'hipster': True, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': None, 'upscale': False, 'classy': False, 'casual': None}              1
{'touristy': False, 'hipster': None, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': None, 'upscale': False, 'classy': False, 'casual': None}              1
{'touristy': False, 'hipster': None, 'romantic': None, 'divey': False, 'intimate': None, 'trendy': True, 'upscale': False, 'classy': True, 'casual': None}                 1
{'touristy': None, 'hipster': None, 'romantic': False, 'divey': None, 'intimate': None, 'trendy': None, 'upscale': None, 'classy': None, 'casual': None}                   1
Name: Ambience, Length: 672, dtype: int64
True     3861
True     1569
False     918
False     365
None        1
Name: GoodForKids, dtype: int64
{'dessert': False, 'latenight': False, 'lunch': True, 'dinner': True, 'brunch': False, 'breakfast': False}         1060
{'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'brunch': False, 'breakfast': False}        726
{'dessert': False, 'latenight': False, 'lunch': False, 'dinner': True, 'brunch': False, 'breakfast': False}         520
{'dessert': False, 'latenight': False, 'lunch': True, 'dinner': False, 'brunch': False, 'breakfast': False}         455
{'dessert': False, 'latenight': False, 'lunch': True, 'dinner': False, 'brunch': True, 'breakfast': True}           174
                                                                                                                   ...
{u'breakfast': True, u'brunch': True, u'lunch': True, u'dinner': False, u'latenight': False, u'dessert': False}       1
{'dessert': False, 'latenight': False, 'lunch': None, 'dinner': None, 'brunch': True, 'breakfast': False}             1
{'dessert': None, 'latenight': False, 'lunch': None, 'dinner': False, 'brunch': None, 'breakfast': None}              1
{u'breakfast': False, u'brunch': False, u'lunch': True, u'dinner': None, u'latenight': None, u'dessert': False}       1
{'dessert': False, 'latenight': False, 'lunch': True, 'dinner': None, 'brunch': False, 'breakfast': None}             1
Name: GoodForMeal, Length: 281, dtype: int64
u'average'      4000
u'quiet'        1055
'average'        572
u'loud'          396
u'very_loud'     137
'quiet'          126
'loud'            38
'very_loud'       17
None               2
Name: NoiseLevel, dtype: int64
False    820
False    592
True     131
True     125
None       4
Name: DogsAllowed, dtype: int64
True     1222
False     634
True      198
False      99
None        1
Name: HappyHour, dtype: int64
True     1460
True      256
False     246
False      47
None        1
Name: WheelchairAccessible, dtype: int64
True     2094
False     969
Name: RestaurantsTableService, dtype: int64
u'no'         400
u'outdoor'    135
u'yes'         14
'no'            4
'outdoor'       1
None            1
Name: Smoking, dtype: int64
{'dj': False, 'background_music': False, 'no_music': False, 'jukebox': False, 'live': False, 'video': False, 'karaoke': False}       418
{'dj': False, 'background_music': False, 'no_music': False, 'jukebox': False, 'live': True, 'video': False, 'karaoke': False}        160
{'dj': False, 'background_music': False, 'no_music': False, 'jukebox': True, 'live': False, 'video': False, 'karaoke': False}         37
{'dj': False}                                                                                                                         34
{'dj': False, 'background_music': False, 'no_music': False, 'jukebox': None, 'live': False, 'video': False, 'karaoke': False}         26
                                                                                                                                    ...
{'live': True}                                                                                                                         1
{u'dj': None, u'live': True, u'jukebox': None, u'video': False, u'background_music': False, u'karaoke': None, u'no_music': False}      1
{'dj': False, 'background_music': False, 'no_music': False, 'jukebox': False, 'live': None, 'video': False, 'karaoke': None}           1
{'dj': None, 'background_music': False, 'no_music': False, 'jukebox': None, 'live': False, 'video': False, 'karaoke': False}           1
{'dj': False, 'background_music': False, 'no_music': False, 'jukebox': True, 'live': None, 'video': False, 'karaoke': None}            1
Name: Music, Length: 73, dtype: int64
False    615
True      79
Name: GoodForDancing, dtype: int64
False    999
False    171
True      22
True       3
None       1
Name: BusinessAcceptsBitcoin, dtype: int64
False    538
True     107
Name: CoatCheck, dtype: int64
{'monday': False, 'tuesday': False, 'friday': True, 'wednesday': False, 'thursday': True, 'sunday': False, 'saturday': True}             180
{'monday': False, 'tuesday': False, 'friday': False, 'wednesday': False, 'thursday': False, 'sunday': False, 'saturday': False}          101
{'monday': False, 'tuesday': False, 'friday': True, 'wednesday': True, 'thursday': False, 'sunday': False, 'saturday': True}              60
{'monday': False, 'tuesday': False, 'friday': True, 'wednesday': False, 'thursday': False, 'sunday': True, 'saturday': True}              49
{'monday': False, 'tuesday': False, 'friday': False, 'wednesday': False, 'thursday': False, 'sunday': False, 'saturday': True}            38
                                                                                                                                        ...
{'monday': False, 'tuesday': True, 'friday': False, 'wednesday': True, 'thursday': False, 'sunday': True, 'saturday': False}               1
{u'monday': False, u'tuesday': False, u'wednesday': False, u'thursday': True, u'friday': False, u'saturday': False, u'sunday': False}      1
{u'monday': False, u'tuesday': False, u'wednesday': True, u'thursday': False, u'friday': False, u'saturday': True, u'sunday': False}       1
{'monday': True, 'tuesday': False, 'friday': False, 'wednesday': False, 'thursday': True, 'sunday': True, 'saturday': False}               1
{u'monday': True, u'tuesday': True, u'wednesday': False, u'thursday': False, u'friday': True, u'saturday': False, u'sunday': False}        1
Name: BestNights, Length: 72, dtype: int64
False    458
True      80
False     79
True       8
None       1
Name: Corkage, dtype: int64
'yes_free'        299
'no'              278
'yes_corkage'      20
u'yes_free'        12
u'yes_corkage'      6
u'no'               1
None                1
Name: BYOBCorkage, dtype: int64
False    301
True     245
Name: BYOB, dtype: int64
False    359
True     160
None      33
Name: DriveThru, dtype: int64
Series([], Name: HairSpecializesIn, dtype: int64)
u'allages'    20
u'21plus'      4
Name: AgesAllowed, dtype: int64
1    5385
0    1617
Name: Monday, dtype: int64
1    5902
0    1100
Name: Tuesday, dtype: int64
1    6283
0     719
Name: Wednesday, dtype: int64
1    6381
0     621
Name: Thursday, dtype: int64
1    6408
0     594
Name: Friday, dtype: int64
1    6287
0     715
Name: Saturday, dtype: int64
1    5640
0    1362
Name: Sunday, dtype: int64
0    6991
1      11
Name:  Acai Bowls, dtype: int64
0    7001
1       1
Name:  Accessories, dtype: int64
0    7001
1       1
Name:  Accountants, dtype: int64
0    6982
1      20
Name:  Active Life, dtype: int64
0    6994
1       8
Name:  Adult Entertainment, dtype: int64
0    6997
1       5
Name:  Afghan, dtype: int64
0    6997
1       5
Name:  African, dtype: int64
0    7002
Name:  Airport Shuttles, dtype: int64
0    6114
1     888
Name:  American (New), dtype: int64
0    6047
1     955
Name:  American (Traditional), dtype: int64
0    7001
1       1
Name:  Amusement Parks, dtype: int64
0    7000
1       2
Name:  Antiques, dtype: int64
0    7001
1       1
Name:  Apartments, dtype: int64
0    7001
1       1
Name:  Appliances, dtype: int64
0    7002
Name:  Appliances & Repair, dtype: int64
0    6998
1       4
Name:  Arabic, dtype: int64
0    6992
1      10
Name:  Arcades, dtype: int64
0    6996
1       6
Name:  Argentine, dtype: int64
0    7001
1       1
Name:  Armenian, dtype: int64
0    6995
1       7
Name:  Art Galleries, dtype: int64
0    6996
1       6
Name:  Arts & Crafts, dtype: int64
0    6882
1     120
Name:  Arts & Entertainment, dtype: int64
0    6787
1     215
Name:  Asian Fusion, dtype: int64
0    7000
1       2
Name:  Australian, dtype: int64
0    7001
1       1
Name:  Austrian, dtype: int64
0    7002
Name:  Auto Glass Services, dtype: int64
0    7002
Name:  Auto Repair, dtype: int64
0    6992
1      10
Name:  Automotive, dtype: int64
0    6908
1      94
Name:  Bagels, dtype: int64
0    6754
1     248
Name:  Bakeries, dtype: int64
0    6999
1       3
Name:  Bangladeshi, dtype: int64
0    7001
1       1
Name:  Banks & Credit Unions, dtype: int64
0    6853
1     149
Name:  Barbeque, dtype: int64
0    7001
1       1
Name:  Barbers, dtype: int64
0    5840
1    1162
Name:  Bars, dtype: int64
0    7001
1       1
Name:  Bartenders, dtype: int64
0    7000
1       2
Name:  Basque, dtype: int64
0    7001
1       1
Name:  Beaches, dtype: int64
0    6996
1       6
Name:  Beauty & Spas, dtype: int64
0    6991
1      11
Name:  Bed & Breakfast, dtype: int64
0    6832
1     170
Name:  Beer, dtype: int64
0    6908
1      94
Name:  Beer Bar, dtype: int64
0    6976
1      26
Name:  Beer Gardens, dtype: int64
0    7001
1       1
Name:  Beer Hall, dtype: int64
0    6993
1       9
Name:  Belgian, dtype: int64
0    6999
1       3
Name:  Beverage Store, dtype: int64
0    7001
1       1
Name:  Bike Rentals, dtype: int64
0    7001
1       1
Name:  Bike Repair/Maintenance, dtype: int64
0    7000
1       2
Name:  Bistros, dtype: int64
0    7001
1       1
Name:  Boat Charters, dtype: int64
0    7001
1       1
Name:  Boat Tours, dtype: int64
0    7001
1       1
Name:  Boating, dtype: int64
0    6996
1       6
Name:  Books, dtype: int64
0    6998
1       4
Name:  Bookstores, dtype: int64
0    6997
1       5
Name:  Bowling, dtype: int64
0    6994
1       8
Name:  Brasseries, dtype: int64
0    6992
1      10
Name:  Brazilian, dtype: int64
0    6258
1     744
Name:  Breakfast & Brunch, dtype: int64
0    6940
1      62
Name:  Breweries, dtype: int64
0    6983
1      19
Name:  Brewpubs, dtype: int64
0    7001
1       1
Name:  Bridal, dtype: int64
0    6992
1      10
Name:  British, dtype: int64
0    6963
1      39
Name:  Bubble Tea, dtype: int64
0    6945
1      57
Name:  Buffets, dtype: int64
0    7001
1       1
Name:  Building Supplies, dtype: int64
0    6556
1     446
Name:  Burgers, dtype: int64
0    7000
1       2
Name:  Burmese, dtype: int64
0    6989
1      13
Name:  Butcher, dtype: int64
0    7001
1       1
Name:  CSA, dtype: int64
0    7001
1       1
Name:  Cabaret, dtype: int64
0    6694
1     308
Name:  Cafes, dtype: int64
0    6997
1       5
Name:  Cafeteria, dtype: int64
0    6982
1      20
Name:  Cajun/Creole, dtype: int64
0    6993
1       9
Name:  Cambodian, dtype: int64
0    6997
1       5
Name:  Candy Stores, dtype: int64
0    7001
1       1
Name:  Cannabis Clinics, dtype: int64
0    6982
1      20
Name:  Cantonese, dtype: int64
0    7001
1       1
Name:  Cards & Stationery, dtype: int64
0    6960
1      42
Name:  Caribbean, dtype: int64
0    6996
1       6
Name:  Casinos, dtype: int64
0    6698
1     304
Name:  Caterers, dtype: int64
0    7001
1       1
Name:  Champagne Bars, dtype: int64
0    7001
1       1
Name:  Check Cashing/Pay-day Loans, dtype: int64
0    6981
1      21
Name:  Cheese Shops, dtype: int64
0    6810
1     192
Name:  Cheesesteaks, dtype: int64
0    6947
1      55
Name:  Chicken Shop, dtype: int64
0    6812
1     190
Name:  Chicken Wings, dtype: int64
0    6672
1     330
Name:  Chinese, dtype: int64
0    6991
1      11
Name:  Chocolatiers & Shops, dtype: int64
0    7001
1       1
Name:  Cideries, dtype: int64
0    6998
1       4
Name:  Cinema, dtype: int64
0    6830
1     172
Name:  Cocktail Bars, dtype: int64
0    6562
1     440
Name:  Coffee & Tea, dtype: int64
0    6988
1      14
Name:  Coffee Roasteries, dtype: int64
0    7001
1       1
Name:  Colombian, dtype: int64
0    6997
1       5
Name:  Comedy Clubs, dtype: int64
0    6921
1      81
Name:  Comfort Food, dtype: int64
0    7001
1       1
Name:  Community Service/Non-Profit, dtype: int64
0    7001
1       1
Name:  Contractors, dtype: int64
0    6963
1      39
Name:  Convenience Stores, dtype: int64
0    7001
1       1
Name:  Conveyor Belt Sushi, dtype: int64
0    6998
1       4
Name:  Cooking Classes, dtype: int64
0    7000
1       2
Name:  Cooking Schools, dtype: int64
0    7001
1       1
Name:  Cosmetics & Beauty Supply, dtype: int64
0    7001
1       1
Name:  Costumes, dtype: int64
0    7002
Name:  Crane Services, dtype: int64
0    6981
1      21
Name:  Creperies, dtype: int64
0    6990
1      12
Name:  Cuban, dtype: int64
0    6981
1      21
Name:  Cupcakes, dtype: int64
0    6989
1      13
Name:  Custom Cakes, dtype: int64

In [15]:
## True/False issue
true_false_col = ['BusinessAcceptsCreditCards', 'RestaurantsTakeOut', 'RestaurantsReservations', 'RestaurantsGoodForGroups']

def tf_issue(column_name, df):

    for i in df[column_name]:

        if df[column_name][i] == 'True': df[column_name][i]=1
        elif df[column_name][i] == 'False': df[column_name][i]=0
        else: df[column_name][i]=0
        
    # df = df[df[column_name] != 'None']
    # df[column_name] = df[column_name].astype(float)
    # df = df.dropna(subset=column_name)
    # df[column_name] = df[column_name].astype(int)

for i in true_false_col:
    tf_issue(i, df)

# dic: BusinessParking, GoodForMeal
# 
# weirdo u
# WiFi, Alcohol, RestaurantsAttire, NoiseLevel, Smoking,

KeyError: False

In [17]:
df['BusinessAcceptsCreditCards'].dtype

dtype('O')

In [23]:
df['BusinessAcceptsCreditCards'].value_counts()

True     5617
True      942
False     367
False      61
None        1
Name: BusinessAcceptsCreditCards, dtype: int64

In [13]:
str = 'True'
if 'True' == str:
    print(1)

1

In [ ]:
drop_col = ['Caters', 'HasTV', 'GoodForKids', 'DogsAllowed', 'HappyHour', 'WheelchairAccessible']

In [18]:
X = df.drop(columns=['business_id', 'is_open'])
y = df['is_open']

le = LabelEncoder()
X['name'] = le.fit_transform(X['name'])
X['city'] = le.fit_transform(X['city'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .2)

In [ ]:
scaler = preprocessing.MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
model = xgb.XGBClassifier()